{% extends 'base.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier la leçon</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Modifier'}) }}

   {#  <a href="{{ path('app_lesson_index') }}">back to list</a>#}

{% endblock %}
