html, body {
    height: 100%;
}

/*  Police d'écriture */
body {
 font-family: 'Lato', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Poppins', sans-serif;
}


.color {
    color: rgb(36, 164, 124) ;
}

.color-red {
    color: #CD3545;
}

.bg-color-logo {
    background-color: rgb(36, 164, 124);
}
.color-blue {
    color: #192166;
}
.color-black {
    color: #000000;
}
.color-white {
    color : #F8F9FA;
}

.bg-color-white {
    background-color: #F8F9FA;

}

/*Page de base */
.contenue {
    min-height: 100%;
    position: relative ;
}

#souligne:hover {
    text-decoration: underline;
    text-decoration-color: rgb(36, 164, 124) ;
}

.lien-postulant {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}




    /*  Page d'accueil*/

.bd-placeholder-img {
    height: 50vh;
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.carousel-inner {
    border-radius: 1% ;

}
.text-carousel {
    text-shadow: -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
    color: white !important;
}


.border-formations {
    box-shadow: -1px 1px 73px -23px rgba(108,117,125,1) inset;
    -webkit-box-shadow: -1px 1px 73px -23px rgba(108,117,125,1) inset;
    -moz-box-shadow: -1px 1px 73px -23px rgba(108,117,125,1) inset;
}


.home-page-text {
    text-align: justify;
}
.home-page-border {
    background-color:#F8F9FA ;
    border-radius: 2% ;
}
.img-home-page {
    border-radius: 2%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}




.img-etudiant {
    clip-path:ellipse(50% 50%);
}

/*Page de formation */

#search {
    height: 40px;
    width: 25%;
    background-position: left;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}


.btn-access-formation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
}

#formationsEnCours, #formationsStatusTerminees {
    display: none;
}

#btn-formations {
    background-color: #6c757d;
    color: white;
}


/*  Page de login*/
.page-log {
    margin-top: 10%;
    border-bottom: 1px solid rgb(36, 164, 124);
    border-left: 1px solid rgb(36, 164, 124);
    box-shadow: -6px 9px 9px -2px rgb(36, 164, 124);
    -webkit-box-shadow: -6px 9px 9px -2px rgb(36, 164, 124);
    -moz-box-shadow: -6px 9px 9px -2px rgb(36, 164, 124);


}

.formulaire-log {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .page-log {
        margin-top: 10%;
        border-bottom: none;
        border-left: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    .col-img {
        display: none;
    }

}


/*Page postuler en tant qu'instructeur */
.ecoit {
    color:  rgb(36, 164, 124);
}

.form_border {
    border: dashed rgb(36, 164, 124);
}



/*Page ajout section pour les instructeurs*/
.cadre {
    padding: 2%;
    border: thick double rgb(36, 164, 124);
}


/*Page de leçons*/

.espace-commentaire {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

/* Page de réponse au question*/

.response-quizz{
    border: dashed rgb(36, 164, 124);
    padding: 2%;
}

/*Footer */
@media screen and (min-width: 770px) and (min-height: 1100px) {
    .footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        margin-top: 50px;
    }

}


.logo-reseaux {
    height: 50px;
    width: 50px;
}
