{% extends 'base.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
    <h1>Modifier ma formation</h1>

    {{ include('formation/_form.html.twig', {'button_label': 'Mettre à jour'  }) }}

    <a href="{{ path('liste_formations') }}" class="float-end">Retour à la liste</a>

{% endblock %}
