{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
    <h1 class="text-center color mt-3 mb-3">Créer une nouvelle formation</h1>

    {{ include('formation/_form.html.twig') }}

{% endblock %}
