{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <div class="row mt-3 ">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
           <h1 id="souligne"><i>{{ formation.title }}</i></h1>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="{{ asset('Formation/' ~  formation.picture ) }}" class="card-img-top mx-auto shadow rounded mt-2  " alt="cover formation" style="width:200px;height:260px">
        </div>
    </div>
    <a href="{{ path('app_formation_index') }}" class="float-end mt-2">Retour à la liste des formations</a>


{% endblock %}
