{% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block body %}
    <h1 class="text-center color mt-3">Créer un Quiz pour la section "{{ section.title }}"</h1>

    {{ include('quiz/_form.html.twig') }}

{% endblock %}
