{% extends 'base.html.twig' %}

{% block title %}Modifier ma section{% endblock %}

{% block body %}
    <h1 class="color text-center mt-3">Modifier ma section</h1>

    {{ include('section/_form.html.twig', {'button_label': 'Modifier'}) }}

    <p class="d-flex justify-content-end"><a href="{{ path('formation_show_instructeur', {'id' : idformation}) }}">Retour</a></p>

{% endblock %}
