{% extends 'base.html.twig' %}

{% block title %}Nouvelle section{% endblock %}

{% block body %}
    <h1 class="color text-center mt-2 mb-2">Créer une section</h1>

    <p> Vous êtes sur le point de créer une nouvelle section pour la formation <strong>"{{ lastformationUser }}"</strong></p>

    {{ include('section/_form.html.twig') }}

{% endblock %}
